.App {
  text-align: center;
  background-image: url('./components/assets/item3.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
